<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert-info" align="center">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <p-dataTable [value]="dataPersonnes" selectionMode="single" [(selection)]="selectedPersonne" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
          <header>CRUD de invtés</header>
          <p-column field="id" header="ID" [sortable]="true"></p-column>
          <p-column field="titre" header="Titre" [sortable]="true"></p-column>
          <p-column field="numCni" header="NumCni" [sortable]="true"></p-column>
          <p-column field="nom" header="Nom" [sortable]="true"></p-column>
          <p-column field="prenom" header="Prenom" [sortable]="true"></p-column>
          <p-column field="adresse.email" header="Email" [sortable]="true"></p-column>
          <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Ajouter"></button></div></footer>
        </p-dataTable>
      </div>
      <br/>
      <br/>
      <br/>
      <ul>
        <li *ngFor="let p of dataPersonnes">{{p.numCni}} {{p.titre}} {{p.nom}} {{p.prenom}} {{p.adresse.email}}</li>
      </ul>
    </div>
  </div>
</div>

<!--Boite de dialogue-->
<p-dialog header="Invtés Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="personne">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="titre">Titre</label></div>
      <div class="ui-grid-col-8"><input pInputText id="titre" [(ngModel)]="personne.titre" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="numcni">N°CNI</label></div>
      <div class="ui-grid-col-8"><input pInputText id="numcni" [(ngModel)]="personne.numCni" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nom">Nom</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="personne.nom" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="prenom">Prenom</label></div>
      <div class="ui-grid-col-8"><input pInputText id="prenom" [(ngModel)]="personne.prenom" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="email">Email</label></div>
      <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="personne.adresse.email" /></div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Supprimer"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </footer>
</p-dialog>
